body {
  background-color: rgba(25, 10, 60, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
}
h1 {
  font-size: 2.5rem;
}
#regStatus {
  display: none;
}
.input-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.change {
  font-size: 20px;
}
#priceScreen {
  background-color: rgb(150, 150, 150);
  width: 160px;
  height: 50px;
  font-size: 20px;
  margin-left: 65px;
  text-align: center;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 10px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#priceBackground {
  background-color: rgb(221, 221, 221);
  min-width: 100px;
  width: auto;
  padding: 0 5px 0 5px;
  height: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.connector {
  width: 20px;
  height: 20px;
  margin: auto;
  background-color: rgb(150, 150, 150);
}
.cash-label {
  font-size: 25px;
}
#user-input {
  height: 30px;
  width: 250px;
  font-size: 16px;
  margin: 15px;
}
#purchase-btn {
  width: 140px;
  height: 40px;
  font-size: 16px;
  margin-bottom: 20px;
  background-color: rgb(231, 181, 72);
  font-weight: bold;
  font-size: 20px;
  border: solid 3px rgb(161, 129, 23);
  cursor: pointer;
}

#purchase-btn:hover {
  background-color: rgb(240, 203, 124);
  border: solid 3px rgb(161, 129, 23);
}

.register {
  border-radius: 30% 30% 0 0;
  background-color: rgb(150, 150, 150);
  width: 300px;
  height: 250px;
  display: flex;
}
.currency {
  background-color: rgb(221, 221, 221);
  width: 117px;
  height: 210px;
  margin-top: 25px;
  color: black;
  border-radius: 10%;
  padding-left: 8px;
}
.currency p {
  margin: 3px 0 0 0;
}
.btns {
  margin: 55px 20px 0 35px;
  width: 90px;
  height: fit-content;
  background-color: rgb(221, 221, 221);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  text-align: center;
  vertical-align: middle;
  line-height: 20px;
  border-radius: 10px;
}
.btns button {
  width: 20px;
  height: 20px;
  background-color: black;
  margin: 5px;
  border-radius: 35%;
  color: white;
  border: none;
  cursor: pointer;
}
.register-bottom {
  border-top: 10px solid rgb(40, 40, 40);
  width: 300px;
  height: 50px;
  background-color: rgb(150, 150, 150);
}
.circle {
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  margin: 15px auto;
}
